.loader{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__inside{
    width: 30px;
    height: 30px;
    border-top: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    border-radius: 50%;
    animation-name: mymove;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mymove {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }